$red: #5c1a1a;
$gray: #808080;
$darkgray: #464646;


@mixin margenes($top, $bottom){
margin-top: $top;
margin-bottom: $bottom;
}

.jumbotron {
    background-color: $red;
    color: $gray;
    border-radius: 0; 
    padding-bottom: 30px;
    margin: 0 -25px 25px 0;
    
}

.presentation{
    margin: 15px 15px;
    padding: 20px 20px;
    background-color: whitesmoke;
    text-align: center;
}
.btn {
    color: #c7c7c7;
    background-color: $darkgray;
    border-radius: 10px;   
    width: 100%; 
    
}


.labor{
    padding: 25px 10%;
    margin: 50px 10%;

}

.btn:hover{
    color:  #ffffff;
    background-color:  $red;
}
.footer{
    padding: 10px 10px 0 10px;
    background-color:  $red;
    @include margenes(0px, 0px);
    color: white;
    margin: 0 0 0 0;
    
}

.card {
   flex: 1 200px; 
   padding: 10px 0px 10px 0px;
   text-align: justify;
   border: none;
   @include margenes(10px, 0px);

}

h5 {
    text-align: center;

}
.d-flex {
    border: none;
    padding-left: 10px;

}

.container{
    justify-items: center;
    @include margenes(15px, 0px);
    margin-left: 10%;
    margin-right: 10%;

}
.about{
    text-align: justify;
    padding: 0px 25px 50px 25px;
    margin: 50px 10%;


}

.breadcrumb{
    margin: 20px;
    padding: 10px;


}

.ul{
    text-align: center;
    color: $red;

}

.form-row{
    text-align: justify;
    padding: 0 25px;
    margin: 10px 10%;
}


.footer-address-icon{
    padding-right: 20px;
    padding-left: 10px;
}

.btn-primary{
    border: none;

}
.home{
    display: none;
}

.oi-star{
    color: goldenrod;

}

.card-subtitle{
    @include margenes(10px, 0px);
    margin-bottom: 15px;
}

.fixed-top{
    display: inline-flex;
}

.badge-secondary{
    background-color: $red;
}

.oferta{
    padding: 15px;
    margin: 15px;
}


.carousel-control-next-icon{
    background-color: $red;
}
.carousel-control-prev-icon{
    background-color: $red;
}

.d-block{
    max-width: 600px;
    max-height: 400px;
    display: block;
    margin: auto;
}


.accordion{
    display: block;
    margin: auto;
}